---
const { repoName, wakatimeProjectURL } = Astro.props;
---

<div class="flex flex-wrap gap-1 pt-2">
  <img
    class="h-4"
    src=`https://wakatime.com/badge/user/fbdfdc0f-d449-43dc-8090-ced03a22fe8c/project/${wakatimeProjectURL}.svg?style=flat&color=f5f5f5&label_color=0a0a0a`
    alt=""
    loading="lazy"
  />
  <img
    class="h-4"
    src=`https://img.shields.io/github/commit-activity/m/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt=""
    loading="lazy"
  />

  <img
    class="h-4"
    src=`https://img.shields.io/github/languages/count/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt=""
    loading="lazy"
  />
  <img
    class="h-4"
    src=`https://img.shields.io/github/languages/top/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt=""
    loading="lazy"
  />
  <img
    class="h-4"
    src=`https://img.shields.io/github/license/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt=""
    loading="lazy"
  />
  <!-- <img
    class="h-4"
    src=`https://img.shields.io/github/contributors/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt="" loading="lazy"
  /> -->
  <img
    class="h-4"
    src=`https://img.shields.io/github/directory-file-count/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a&`
    alt=""
    loading="lazy"
  />
  <img
    class="h-4"
    src=`https://img.shields.io/github/repo-size/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt=""
    loading="lazy"
  />
  <img
    class="h-4"
    src=`https://img.shields.io/github/languages/code-size/AlexEG/${repoName}?style=flat&color=f5f5f5&labelColor=0a0a0a`
    alt=""
    loading="lazy"
  />
</div>
