---
import Badges from "./Badges.astro";
import TitleAndCTA from "./TitleAndCTA.astro";
const { title, repoName, description, demoLink, wakatimeId, languageAndTools } =
  Astro.props;
---

<div class="bg-neutral-800 rounded-xl w-full p-2 -mt-9 h-28 relative">
  <span class="absolute top-0 right-0 w-32 h-12 bg-neutral-950"></span>
  <span
    class="absolute top-0 right-32 w-2 h-2 bg-neutral-950 after:w-2 after:block after:h-full after:bg-neutral-800 after:rounded-tr-xl"
  ></span>
  <span
    class="absolute top-12 right-0 w-2 h-2 bg-neutral-950 after:w-2 after:block after:h-full after:bg-neutral-800 after:rounded-tr-xl"
  ></span>
  <span
    class="absolute top-10 right-32 w-2 h-2 transform translate-x-full bg-neutral-800 after:w-2 after:block after:h-full after:bg-neutral-950 after:rounded-bl-xl"
  ></span>
  <!-- --------------- -->

  <div class="grid grid-cols-[1fr,130px] h-full">
    <!-- main box -->
    <div class="+border flex flex-col justify-between">
      <TitleAndCTA title={title} repoName={repoName} demoLink={demoLink} />

      <div class="w-[600px] text-xs text-neutral-100">
        {description}
      </div>

      <Badges repoName={repoName} wakatimeProjectURL={wakatimeId} />
    </div>

    <!-- right side box -->
    <div
      class="mt-11 +border +bg-teal-400 flex flex-wrap justify-end gap-1 pl-6"
    >
      {
        languageAndTools.map((img) => {
          return <img src={`/icons/${img}.svg`} class="w-5" />;
        })
      }
    </div>
  </div>
</div>
