---
import DashboardCardTitle from "../DashboardCardTitle.astro";
import DashboardCard from "../DashboardCard.astro";
import top10Track_4weeks_1 from "../../assets/spotify/top-tracks/4-weeks/1.jpeg";
import top10Track_4weeks_2 from "../../assets/spotify/top-tracks/4-weeks/2.jpeg";
import top10Track_4weeks_3 from "../../assets/spotify/top-tracks/4-weeks/3.jpeg";
import top10Track_4weeks_4 from "../../assets/spotify/top-tracks/4-weeks/4.jpeg";
import top10Track_4weeks_5 from "../../assets/spotify/top-tracks/4-weeks/5.jpeg";
import top10Track_4weeks_6 from "../../assets/spotify/top-tracks/4-weeks/6.jpeg";
import top10Track_4weeks_7 from "../../assets/spotify/top-tracks/4-weeks/7.jpeg";
import top10Track_4weeks_8 from "../../assets/spotify/top-tracks/4-weeks/8.jpeg";
import top10Track_4weeks_9 from "../../assets/spotify/top-tracks/4-weeks/9.jpeg";
import top10Track_4weeks_10 from "../../assets/spotify/top-tracks/4-weeks/10.jpeg";

import top10Track_6months_1 from "../../assets/spotify/top-tracks/6-months/1.jpeg";
import top10Track_6months_2 from "../../assets/spotify/top-tracks/6-months/2.jpeg";
import top10Track_6months_3 from "../../assets/spotify/top-tracks/6-months/3.jpeg";
import top10Track_6months_4 from "../../assets/spotify/top-tracks/6-months/4.jpeg";
import top10Track_6months_5 from "../../assets/spotify/top-tracks/6-months/5.jpeg";
import top10Track_6months_6 from "../../assets/spotify/top-tracks/6-months/6.jpeg";
import top10Track_6months_7 from "../../assets/spotify/top-tracks/6-months/7.jpeg";
import top10Track_6months_8 from "../../assets/spotify/top-tracks/6-months/8.jpeg";
import top10Track_6months_9 from "../../assets/spotify/top-tracks/6-months/9.jpeg";
import top10Track_6months_10 from "../../assets/spotify/top-tracks/6-months/10.jpeg";

import top10Track_12months_1 from "../../assets/spotify/top-tracks/12-months/1.jpeg";
import top10Track_12months_2 from "../../assets/spotify/top-tracks/12-months/2.jpeg";
import top10Track_12months_3 from "../../assets/spotify/top-tracks/12-months/3.jpeg";
import top10Track_12months_4 from "../../assets/spotify/top-tracks/12-months/4.jpeg";
import top10Track_12months_5 from "../../assets/spotify/top-tracks/12-months/5.jpeg";
import top10Track_12months_6 from "../../assets/spotify/top-tracks/12-months/6.jpeg";
import top10Track_12months_7 from "../../assets/spotify/top-tracks/12-months/7.jpeg";
import top10Track_12months_8 from "../../assets/spotify/top-tracks/12-months/8.jpeg";
import top10Track_12months_9 from "../../assets/spotify/top-tracks/12-months/9.jpeg";
import top10Track_12months_10 from "../../assets/spotify/top-tracks/12-months/10.jpeg";

import SpotifyListItem from "../SpotifyListItem.astro";
import SpotifyNavItem from "../SpotifyNavItem.astro";
---

<DashboardCard
  col_from="col-start-12"
  col_to="col-span-8"
  row_from="row-start-1"
  row_to="row-span-10"
>
  <!-- col_from="col-start-4"
  col_to="col-end-11"
  row_from="row-start-8"
  row_to="row-span-11" -->
  <DashboardCardTitle title="Spotify" viewBox="0 0 32 32">
    <path
      d="M24.849 14.35c-3.206-1.616-6.988-2.563-10.991-2.563-2.278 0-4.484 0.306-6.58 0.881l0.174-0.041c-0.123 0.040-0.265 0.063-0.412 0.063-0.76 0-1.377-0.616-1.377-1.377 0-0.613 0.401-1.132 0.954-1.311l0.010-0.003c5.323-1.575 14.096-1.275 19.646 2.026 0.426 0.258 0.706 0.719 0.706 1.245 0 0.259-0.068 0.502-0.186 0.712l0.004-0.007c-0.29 0.345-0.721 0.563-1.204 0.563-0.273 0-0.529-0.070-0.752-0.192l0.008 0.004zM24.699 18.549c-0.201 0.332-0.561 0.55-0.971 0.55-0.225 0-0.434-0.065-0.61-0.178l0.005 0.003c-2.739-1.567-6.021-2.49-9.518-2.49-1.925 0-3.784 0.28-5.539 0.801l0.137-0.035c-0.101 0.032-0.217 0.051-0.337 0.051-0.629 0-1.139-0.51-1.139-1.139 0-0.509 0.333-0.939 0.793-1.086l0.008-0.002c1.804-0.535 3.878-0.843 6.023-0.843 3.989 0 7.73 1.064 10.953 2.925l-0.106-0.056c0.297 0.191 0.491 0.52 0.491 0.894 0 0.227-0.071 0.437-0.192 0.609l0.002-0.003zM22.899 22.673c-0.157 0.272-0.446 0.452-0.777 0.452-0.186 0-0.359-0.057-0.502-0.154l0.003 0.002c-2.393-1.346-5.254-2.139-8.299-2.139-1.746 0-3.432 0.261-5.020 0.745l0.122-0.032c-0.067 0.017-0.145 0.028-0.224 0.028-0.512 0-0.927-0.415-0.927-0.927 0-0.432 0.296-0.795 0.696-0.898l0.006-0.001c1.581-0.47 3.397-0.74 5.276-0.74 3.402 0 6.596 0.886 9.366 2.44l-0.097-0.050c0.302 0.15 0.506 0.456 0.506 0.809 0 0.172-0.048 0.333-0.132 0.469l0.002-0.004zM16 1.004c0 0 0 0-0 0-8.282 0-14.996 6.714-14.996 14.996s6.714 14.996 14.996 14.996c8.282 0 14.996-6.714 14.996-14.996v0c-0.025-8.272-6.724-14.971-14.993-14.996h-0.002z"
    ></path>
  </DashboardCardTitle>

  <!-- ----- Main bar ----- -->
  <nav class="flex justify-between px-2 mt-2 mb-4">
    <div>
      <SpotifyNavItem text="Top Tracks" isHighlighted={true} />
      <SpotifyNavItem text="Top Artists" isHighlighted={false} />
      <SpotifyNavItem text="Top Genres" isHighlighted={false} />
    </div>

    <!-- Time periods -->
    <div>
      <SpotifyNavItem text="4 Weeks" isHighlighted={false} />
      <SpotifyNavItem text="6 Months" isHighlighted={false} />
      <SpotifyNavItem text="12 Months" isHighlighted={true} />
    </div>
  </nav>

  <!-- ----- Content List ----- -->

  <!-- ----- 4 WEEKS ----- -->
  <!-- <ul class="grid grid-cols-1 grid-rows-12 gap-2 w-full h-full px-2">
    <SpotifyListItem
      songArtcover={top10Track_4weeks_1}
      name="GIRLS!"
      artist="YNG Martyr!"
      link="7hkgz7F6Z8UeRVmwp1ztzU"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_2}
      name="1-800"
      artist="bbno$, Ironmouse"
      link="6NBZu27n3cxEk4y4c2Kxi8"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_3}
      name="Super Smash Bros."
      artist="BABY GRAVY, Yung Gravy, bbno$"
      link="3SQ7A39UtrUO61jnICPImu"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_4}
      name="WHEYFU ANTHEM"
      artist="Ham Sandwich"
      link="4W4GSMBHUIZPgr4t3ANBBG"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_5}
      name="My Dear"
      artist="Swink"
      link="1L6Vg2msTjW0got3qAZYmd"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_6}
      name="swiper no swiping!"
      artist="BABY GRAVY, Yung Gravy, bbno$"
      link="62hVvAo7NlbwYb37cV9c2A"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_7}
      name="boom"
      artist="bbno$"
      link="6zhyXTuRkMSabSHvmMchpp"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_8}
      name="edamame"
      artist="bbno$, Rich Brian"
      link="1golLrmqyxDWedF7YUHCOD"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_9}
      name="two"
      artist="bbno$"
      link="6DRZmJa38MaMNthwG3fCBD"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_10}
      name="Bunny Girl Senpai Drill"
      artist="Breeton Boi, Ham Sandwich, Lord Nekros"
      link="1ScvSWPC6IeZszPzISCbgl"
    />
  </ul> -->
  <!-- ----- 6 MONTHS ----- -->
  <!-- <ul class="grid grid-cols-1 grid-rows-12 gap-2 w-full h-full px-2">
    <SpotifyListItem
      songArtcover={top10Track_6months_1}
      name="Hands up, It's a robbery!"
      artist="870glizzy, xlout, Trunja"
      link="0yIKATkR5POHBGGVw0Ionn"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_2}
      name="Addict"
      artist="PiNKII, Daegho"
      link="1gQ14vXcS1SpmEbm0NlvXf"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_3}
      name="Taste"
      artist="Jake Daniels"
      link="4WhyCuUqYIBO7ELvwL8FHI"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_4}
      name="Cute Circus"
      artist="Tsundere Twintails"
      link="6l7jWmaWGBA1eD2glvB8Ds"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_5}
      name="GIRLS!"
      artist="YNG Martyr"
      link="7hkgz7F6Z8UeRVmwp1ztzU"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_6}
      name="Roi - Instrumental"
      artist="Mckyyy"
      link="2L5ZLwbqYIBKq5ZdqUxgZg"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_7}
      name="EAGLE CLUSTER BOMB"
      artist="99zed, Saliva Grey"
      link="1ODIzMW741kn7ltMb92DIt"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_8}
      name="Flashing Lights"
      artist="Kanye West, Dwele"
      link="5TRPicyLGbAF2LGBFbHGvO"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_9}
      name="til i die"
      artist="LOAT!"
      link="79jY7Iv23vZE7c0E3W7dRH"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_10}
      name="Wannabe"
      artist="Cardeairè Jack, Tumaggz"
      link="7hYsfvf47vTWVsPspfyaOb"
    />
  </ul> -->
  <!-- ----- 12 MONTHS ----- -->
  <ul class="grid grid-cols-1 grid-rows-12 gap-2 w-full h-full px-2">
    <SpotifyListItem
      songArtcover={top10Track_12months_1}
      name="Water World"
      artist="Derek Pope"
      link="557GPWoXsbALezINZhftNf"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_2}
      name="Terminal Velocity"
      artist="DROELOE"
      link="5rJQiusoWpTjvn4vszZuXW"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_3}
      name="偽顔"
      artist="yama"
      link="1CuCtAmIi4Gjk3q9wkWOKw"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_4}
      name="Who?"
      artist="Azari"
      link="6K13hIU8J8NSSKMfLWu8sn"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_5}
      name="DESPERADO"
      artist="ALI, J-Rexxx"
      link="1jFdZdOTsMqrntJjGKd3C2"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_6}
      name="Wink (feat. ロス)"
      artist="Azari, ロス"
      link="1nLDU3dM6emHxIIjlyWD6i"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_7}
      name="華奢なリップ (feat. ちゃんみな)"
      artist="Genie High, CHANMINA"
      link="6GG2Jrj5XSA24NSzigyA4A"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_8}
      name="MAN IN THE CASTLE"
      artist="Gao the Arsonist, NotNevi"
      link="6gx68XLCoHJs9QC0GYfUOB"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_9}
      name="Magnetic"
      artist="ILLIT"
      link="1aKvZDoLGkNMxoRYgkckZG"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_10}
      name="snowfall"
      artist="Øneheart, reidenshi"
      link="4xF4ZBGPZKxECeDFrqSAG4"
    />
  </ul>
</DashboardCard>

<!-- Top 10 Genres last 4 weeks  -->
<!-- 1. Anime Rap
2. Anime
3. J-Pop
4. J-Rap
5. Japanese Indie -->

<!-- Top 10 Genres last 6 months  -->
<!-- 1. Trap Metal
2. Horrorcore
3. Anime Rap
4. Dark Ambient
5. Anime
6. Ambient
7. Vocaloid
8. Synthwave
9. J-Pop
10. J-Rap -->

<!-- Top 10 Genres last 12 months  -->
<!-- 1. J-Pop
2. Anime
3. Trap Metal
4. J-Rock
5. Japanese Indie
6. Lo-Fi
7. Horrorcore
8. Lo-Fi Beats
9. Vocaloid
10. Anime Rap -->

<!-- Top 10 Artists last 4 weeks  -->
<!-- 1. Ham Sandwich
2. bbno$
3. BABY GRAVY
4. Khantrast
5. takayan
6. YungLex
7. Swoodeasu
8. Breeton Boi
9. GameboyJones
10. Shiki-TMNS -->

<!-- Top 10 Artists last 6 months  -->
<!-- 1. 4ria
2. wotaku
3. Ham Sandwich
4. MAKAVELIGODD
5. mangodxwns
6. my head is empty
7. Faceless 1-7
8. bbno$
9. Zero 610
10. BABY GRAVY -->

<!-- Top 10 Artists last 12 months  -->
<!-- 1. Øneheart
2. yama
3. HAARPER
4. Cam Steady
5. Purely Blue
6. Derek Pope
7. Scriptz
8. Genie High
9. MAKAVELIGODD
10. ZUTOMAYO -->
