---
import DashboardCardTitle from "../DashboardCardTitle.astro";
import DashboardCard from "../DashboardCard.astro";
import top10Track_4weeks_1 from "../../assets/spotify/top-tracks/4-weeks/1.jpeg";
import top10Track_4weeks_2 from "../../assets/spotify/top-tracks/4-weeks/2.jpeg";
import top10Track_4weeks_3 from "../../assets/spotify/top-tracks/4-weeks/3.jpeg";
import top10Track_4weeks_4 from "../../assets/spotify/top-tracks/4-weeks/4.jpeg";
import top10Track_4weeks_5 from "../../assets/spotify/top-tracks/4-weeks/5.jpeg";
import top10Track_4weeks_6 from "../../assets/spotify/top-tracks/4-weeks/6.jpeg";
import top10Track_4weeks_7 from "../../assets/spotify/top-tracks/4-weeks/7.jpeg";
import top10Track_4weeks_8 from "../../assets/spotify/top-tracks/4-weeks/8.jpeg";
import top10Track_4weeks_9 from "../../assets/spotify/top-tracks/4-weeks/9.jpeg";
import top10Track_4weeks_10 from "../../assets/spotify/top-tracks/4-weeks/10.jpeg";

import top10Track_6months_1 from "../../assets/spotify/top-tracks/6-months/1.jpeg";
import top10Track_6months_2 from "../../assets/spotify/top-tracks/6-months/2.jpeg";
import top10Track_6months_3 from "../../assets/spotify/top-tracks/6-months/3.jpeg";
import top10Track_6months_4 from "../../assets/spotify/top-tracks/6-months/4.jpeg";
import top10Track_6months_5 from "../../assets/spotify/top-tracks/6-months/5.jpeg";
import top10Track_6months_6 from "../../assets/spotify/top-tracks/6-months/6.jpeg";
import top10Track_6months_7 from "../../assets/spotify/top-tracks/6-months/7.jpeg";
import top10Track_6months_8 from "../../assets/spotify/top-tracks/6-months/8.jpeg";
import top10Track_6months_9 from "../../assets/spotify/top-tracks/6-months/9.jpeg";
import top10Track_6months_10 from "../../assets/spotify/top-tracks/6-months/10.jpeg";

import top10Track_12months_1 from "../../assets/spotify/top-tracks/12-months/1.jpeg";
import top10Track_12months_2 from "../../assets/spotify/top-tracks/12-months/2.jpeg";
import top10Track_12months_3 from "../../assets/spotify/top-tracks/12-months/3.jpeg";
import top10Track_12months_4 from "../../assets/spotify/top-tracks/12-months/4.jpeg";
import top10Track_12months_5 from "../../assets/spotify/top-tracks/12-months/5.jpeg";
import top10Track_12months_6 from "../../assets/spotify/top-tracks/12-months/6.jpeg";
import top10Track_12months_7 from "../../assets/spotify/top-tracks/12-months/7.jpeg";
import top10Track_12months_8 from "../../assets/spotify/top-tracks/12-months/8.jpeg";
import top10Track_12months_9 from "../../assets/spotify/top-tracks/12-months/9.jpeg";
import top10Track_12months_10 from "../../assets/spotify/top-tracks/12-months/10.jpeg";

import top10Artist_4weeks_1 from "../../assets/spotify/top-artists/4-weeks/1.jpeg";
import top10Artist_4weeks_2 from "../../assets/spotify/top-artists/4-weeks/2.jpeg";
import top10Artist_4weeks_3 from "../../assets/spotify/top-artists/4-weeks/3.jpeg";
import top10Artist_4weeks_4 from "../../assets/spotify/top-artists/4-weeks/4.jpeg";
import top10Artist_4weeks_5 from "../../assets/spotify/top-artists/4-weeks/5.jpeg";
import top10Artist_4weeks_6 from "../../assets/spotify/top-artists/4-weeks/6.jpeg";
import top10Artist_4weeks_7 from "../../assets/spotify/top-artists/4-weeks/7.jpeg";
import top10Artist_4weeks_8 from "../../assets/spotify/top-artists/4-weeks/8.jpeg";
import top10Artist_4weeks_9 from "../../assets/spotify/top-artists/4-weeks/9.jpeg";
import top10Artist_4weeks_10 from "../../assets/spotify/top-artists/4-weeks/10.jpeg";

import top10Artist_6months_1 from "../../assets/spotify/top-artists/6-months/1.jpeg";
import top10Artist_6months_2 from "../../assets/spotify/top-artists/6-months/2.jpeg";
import top10Artist_6months_3 from "../../assets/spotify/top-artists/6-months/3.jpeg";
import top10Artist_6months_4 from "../../assets/spotify/top-artists/6-months/4.jpeg";
import top10Artist_6months_5 from "../../assets/spotify/top-artists/6-months/5.jpeg";
import top10Artist_6months_6 from "../../assets/spotify/top-artists/6-months/6.jpeg";
import top10Artist_6months_7 from "../../assets/spotify/top-artists/6-months/7.jpeg";
import top10Artist_6months_8 from "../../assets/spotify/top-artists/6-months/8.jpeg";
import top10Artist_6months_9 from "../../assets/spotify/top-artists/6-months/9.jpeg";
import top10Artist_6months_10 from "../../assets/spotify/top-artists/6-months/10.jpeg";

import top10Artist_12months_1 from "../../assets/spotify/top-artists/12-months/1.jpeg";
import top10Artist_12months_2 from "../../assets/spotify/top-artists/12-months/2.jpeg";
import top10Artist_12months_3 from "../../assets/spotify/top-artists/12-months/3.jpeg";
import top10Artist_12months_4 from "../../assets/spotify/top-artists/12-months/4.jpeg";
import top10Artist_12months_5 from "../../assets/spotify/top-artists/12-months/5.jpeg";
import top10Artist_12months_6 from "../../assets/spotify/top-artists/12-months/6.jpeg";
import top10Artist_12months_7 from "../../assets/spotify/top-artists/12-months/7.jpeg";
import top10Artist_12months_8 from "../../assets/spotify/top-artists/12-months/8.jpeg";
import top10Artist_12months_9 from "../../assets/spotify/top-artists/12-months/9.jpeg";
import top10Artist_12months_10 from "../../assets/spotify/top-artists/12-months/10.jpeg";

import SpotifyListItem from "../SpotifyListItem.astro";
import SpotifyNavItem from "../SpotifyNavItem.astro";
---

<DashboardCard
  col_from="col-start-1 lg:col-start-12"
  col_to="col-span-4 lg:col-span-8"
  row_from="row-start-[21] lg:row-start-1"
  row_to="row-span-12 lg:row-span-10"
>
  <DashboardCardTitle
    title="Spotify"
    viewBox="0 0 32 32"
    profileLink="https://open.spotify.com/user/31pdpcquhjbfdyqmhp6j6sy3xaxq?nd=1&dlsi=8a0fe93579f24534"
  >
    <path
      d="M24.849 14.35c-3.206-1.616-6.988-2.563-10.991-2.563-2.278 0-4.484 0.306-6.58 0.881l0.174-0.041c-0.123 0.040-0.265 0.063-0.412 0.063-0.76 0-1.377-0.616-1.377-1.377 0-0.613 0.401-1.132 0.954-1.311l0.010-0.003c5.323-1.575 14.096-1.275 19.646 2.026 0.426 0.258 0.706 0.719 0.706 1.245 0 0.259-0.068 0.502-0.186 0.712l0.004-0.007c-0.29 0.345-0.721 0.563-1.204 0.563-0.273 0-0.529-0.070-0.752-0.192l0.008 0.004zM24.699 18.549c-0.201 0.332-0.561 0.55-0.971 0.55-0.225 0-0.434-0.065-0.61-0.178l0.005 0.003c-2.739-1.567-6.021-2.49-9.518-2.49-1.925 0-3.784 0.28-5.539 0.801l0.137-0.035c-0.101 0.032-0.217 0.051-0.337 0.051-0.629 0-1.139-0.51-1.139-1.139 0-0.509 0.333-0.939 0.793-1.086l0.008-0.002c1.804-0.535 3.878-0.843 6.023-0.843 3.989 0 7.73 1.064 10.953 2.925l-0.106-0.056c0.297 0.191 0.491 0.52 0.491 0.894 0 0.227-0.071 0.437-0.192 0.609l0.002-0.003zM22.899 22.673c-0.157 0.272-0.446 0.452-0.777 0.452-0.186 0-0.359-0.057-0.502-0.154l0.003 0.002c-2.393-1.346-5.254-2.139-8.299-2.139-1.746 0-3.432 0.261-5.020 0.745l0.122-0.032c-0.067 0.017-0.145 0.028-0.224 0.028-0.512 0-0.927-0.415-0.927-0.927 0-0.432 0.296-0.795 0.696-0.898l0.006-0.001c1.581-0.47 3.397-0.74 5.276-0.74 3.402 0 6.596 0.886 9.366 2.44l-0.097-0.050c0.302 0.15 0.506 0.456 0.506 0.809 0 0.172-0.048 0.333-0.132 0.469l0.002-0.004zM16 1.004c0 0 0 0-0 0-8.282 0-14.996 6.714-14.996 14.996s6.714 14.996 14.996 14.996c8.282 0 14.996-6.714 14.996-14.996v0c-0.025-8.272-6.724-14.971-14.993-14.996h-0.002z"
    ></path>
  </DashboardCardTitle>

  <!-- ----- Main bar ----- -->
  <nav
    id="spotify-nav"
    data-tap-opened="top-tracks"
    class="lg:flex w-full justify-between px-2 mt-2 mb-4 select-none"
  >
    <div>
      <SpotifyNavItem id="top-tracks" text="Top Tracks" isHighlighted={true} />
      <SpotifyNavItem
        id="top-artists"
        text="Top Artists"
        isHighlighted={false}
      />
      <SpotifyNavItem id="top-genres" text="Top Genres" isHighlighted={false} />
    </div>

    <!-- Time periods -->
    <div class="mt-2">
      <SpotifyNavItem id="4-weeks" text="4 Weeks" isHighlighted={true} />
      <SpotifyNavItem id="6-months" text="6 Months" isHighlighted={false} />
      <SpotifyNavItem id="12-months" text="12 Months" isHighlighted={false} />
    </div>
  </nav>

  <!-- ----- Content List ----- -->

  <!-- ---------- Tracks ---------- -->
  <!-- ----- 4 WEEKS ----- -->
  <ul id="top-tracks-4-weeks" class="flex flex-col gap-2 w-full px-2">
    <SpotifyListItem
      songArtcover={top10Track_4weeks_1}
      name="GIRLS!"
      artist="YNG Martyr!"
      link="track/7hkgz7F6Z8UeRVmwp1ztzU"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_2}
      name="1-800"
      artist="bbno$, Ironmouse"
      link="track/6NBZu27n3cxEk4y4c2Kxi8"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_3}
      name="Super Smash Bros."
      artist="BABY GRAVY, Yung Gravy, bbno$"
      link="track/3SQ7A39UtrUO61jnICPImu"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_4}
      name="WHEYFU ANTHEM"
      artist="Ham Sandwich"
      link="track/4W4GSMBHUIZPgr4t3ANBBG"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_5}
      name="My Dear"
      artist="Swink"
      link="track/1L6Vg2msTjW0got3qAZYmd"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_6}
      name="swiper no swiping!"
      artist="BABY GRAVY, Yung Gravy, bbno$"
      link="track/62hVvAo7NlbwYb37cV9c2A"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_7}
      name="boom"
      artist="bbno$"
      link="track/6zhyXTuRkMSabSHvmMchpp"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_8}
      name="edamame"
      artist="bbno$, Rich Brian"
      link="track/1golLrmqyxDWedF7YUHCOD"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_9}
      name="two"
      artist="bbno$"
      link="track/6DRZmJa38MaMNthwG3fCBD"
    />
    <SpotifyListItem
      songArtcover={top10Track_4weeks_10}
      name="Bunny Girl Senpai Drill"
      artist="Breeton Boi, Ham Sandwich, Lord Nekros"
      link="track/1ScvSWPC6IeZszPzISCbgl"
    />
  </ul>
  <!-- ----- 6 MONTHS ----- -->
  <ul id="top-tracks-6-months" class="hidden flex flex-col gap-2 w-full px-2">
    <SpotifyListItem
      songArtcover={top10Track_6months_1}
      name="Hands up, It's a robbery!"
      artist="870glizzy, xlout, Trunja"
      link="track/0yIKATkR5POHBGGVw0Ionn"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_2}
      name="Addict"
      artist="PiNKII, Daegho"
      link="track/1gQ14vXcS1SpmEbm0NlvXf"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_3}
      name="Taste"
      artist="Jake Daniels"
      link="track/4WhyCuUqYIBO7ELvwL8FHI"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_4}
      name="Cute Circus"
      artist="Tsundere Twintails"
      link="track/6l7jWmaWGBA1eD2glvB8Ds"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_5}
      name="GIRLS!"
      artist="YNG Martyr"
      link="track/7hkgz7F6Z8UeRVmwp1ztzU"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_6}
      name="Roi - Instrumental"
      artist="Mckyyy"
      link="track/2L5ZLwbqYIBKq5ZdqUxgZg"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_7}
      name="EAGLE CLUSTER BOMB"
      artist="99zed, Saliva Grey"
      link="track/1ODIzMW741kn7ltMb92DIt"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_8}
      name="Flashing Lights"
      artist="Kanye West, Dwele"
      link="track/5TRPicyLGbAF2LGBFbHGvO"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_9}
      name="til i die"
      artist="LOAT!"
      link="track/79jY7Iv23vZE7c0E3W7dRH"
    />
    <SpotifyListItem
      songArtcover={top10Track_6months_10}
      name="Wannabe"
      artist="Cardeairè Jack, Tumaggz"
      link="track/7hYsfvf47vTWVsPspfyaOb"
    />
  </ul>
  <!-- ----- 12 MONTHS ----- -->
  <ul id="top-tracks-12-months" class="hidden flex flex-col gap-2 w-full px-2">
    <SpotifyListItem
      songArtcover={top10Track_12months_1}
      name="Water World"
      artist="Derek Pope"
      link="track/557GPWoXsbALezINZhftNf"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_2}
      name="Terminal Velocity"
      artist="DROELOE"
      link="track/5rJQiusoWpTjvn4vszZuXW"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_3}
      name="偽顔"
      artist="yama"
      link="track/1CuCtAmIi4Gjk3q9wkWOKw"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_4}
      name="Who?"
      artist="Azari"
      link="track/6K13hIU8J8NSSKMfLWu8sn"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_5}
      name="DESPERADO"
      artist="ALI, J-Rexxx"
      link="track/1jFdZdOTsMqrntJjGKd3C2"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_6}
      name="Wink (feat. ロス)"
      artist="Azari, ロス"
      link="track/1nLDU3dM6emHxIIjlyWD6i"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_7}
      name="華奢なリップ (feat. ちゃんみな)"
      artist="Genie High, CHANMINA"
      link="track/6GG2Jrj5XSA24NSzigyA4A"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_8}
      name="MAN IN THE CASTLE"
      artist="Gao the Arsonist, NotNevi"
      link="track/6gx68XLCoHJs9QC0GYfUOB"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_9}
      name="Magnetic"
      artist="ILLIT"
      link="track/1aKvZDoLGkNMxoRYgkckZG"
    />
    <SpotifyListItem
      songArtcover={top10Track_12months_10}
      name="snowfall"
      artist="Øneheart, reidenshi"
      link="track/4xF4ZBGPZKxECeDFrqSAG4"
    />
  </ul>

  <!-- ---------- Artists ---------- -->
  <!-- ----- 4 WEEKS ----- -->
  <ul id="top-artists-4-weeks" class="hidden flex flex-col gap-2 w-full px-2">
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_1}
      name="Ham Sandwich"
      artist=""
      link="artist/10IrmnIj8FmleJotGxwTRX"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_2}
      name="bbno$"
      artist=""
      link="artist/41X1TR6hrK8Q2ZCpp2EqCz"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_3}
      name="BABY GRAVY"
      artist=""
      link="artist/46VgqDxDEn45y1t0zBS7Do"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_4}
      name="takayan"
      artist=""
      link="artist/79JgYJHiBUZcvYqOC5Zufn"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_5}
      name="Khantrast"
      artist=""
      link="artist/1MOetFIO4hBem9p9FVP9Jo"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_6}
      name="YungLex"
      artist=""
      link="artist/6e0vC9GooC6YMZaUwDHKle"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_7}
      name="Swoodeasu"
      artist=""
      link="artist/187GxxpJNas11L79Z6SAvD"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_8}
      name="Breeton Boi"
      artist=""
      link="artist/2Dr2lb79b7I1gj10FI6ljA"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_9}
      name="GameboyJones"
      artist=""
      link="artist/1FDAJKaPzIzRHJrl3Smitm"
    />
    <SpotifyListItem
      songArtcover={top10Artist_4weeks_10}
      name="Shiki-TMNS"
      artist=""
      link="artist/433MAtNbNMBD9ErZQBBnXb"
    />
  </ul>
  <!-- ----- 6 MONTHS ----- -->
  <ul id="top-artists-6-months" class="hidden flex flex-col gap-2 w-full px-2">
    <SpotifyListItem
      songArtcover={top10Artist_6months_1}
      name="4ria"
      artist=""
      link="artist/0685luDRQZRkN4JnhnRSKX"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_2}
      name="wotaku"
      artist=""
      link="artist/60UeFTylQQsABCEroZyPia"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_3}
      name="Ham Sandwich"
      artist=""
      link="artist/10IrmnIj8FmleJotGxwTRX"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_4}
      name="MAKAVELIGODD"
      artist=""
      link="artist/6ODBnKbicdw1rDq8P2lBzO"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_5}
      name="mangodxwns"
      artist=""
      link="artist/59pL7zydOfpw78pgfEYbB7"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_6}
      name="my head is empty"
      artist=""
      link="artist/7pxIYxdkx2675ZGKSAPBAy"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_7}
      name="bbno$"
      artist=""
      link="artist/41X1TR6hrK8Q2ZCpp2EqCz"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_8}
      name="Zero 610"
      artist=""
      link="artist/1rKNWc0AgITdFqNY4LOT7F"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_9}
      name="BABY GRAVY"
      artist=""
      link="artist/46VgqDxDEn45y1t0zBS7Do"
    />
    <SpotifyListItem
      songArtcover={top10Artist_6months_10}
      name="Faceless 1-7"
      artist=""
      link="artist/4G8pxxXC4de4hnFBVWLqgV"
    />
  </ul>
  <!-- ----- 12 MONTHS ----- -->
  <ul id="top-artists-12-months" class="hidden flex flex-col gap-2 w-full px-2">
    <SpotifyListItem
      songArtcover={top10Artist_12months_1}
      name="Øneheart"
      artist=""
      link="artist/0dgJbQ0bKPyUXco8hEXN7X"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_2}
      name="yama"
      artist=""
      link="artist/7kOrrFIBIBc8uCu2zbxbLv"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_3}
      name="HAARPER"
      artist=""
      link="artist/3v0QTRruILayLe5VsaYdvk"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_4}
      name="Cam Steady"
      artist=""
      link="artist/0v2ThByhPk4mutkJNv6mue"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_5}
      name="Purely Blue"
      artist=""
      link="artist/22funX4N9hCktnaIwJJoQc"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_6}
      name="Derek Pope"
      artist=""
      link="artist/5wWvcn0hJXPhCw9eYUody0"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_7}
      name="Scriptz"
      artist=""
      link="artist/3xJcQ2MhRmBDpyFTR9EyGF"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_8}
      name="Genie High"
      artist=""
      link="artist/1NdpjvRYsY6cwAVX9YWzAB"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_9}
      name="MAKAVELIGODD"
      artist=""
      link="artist/6ODBnKbicdw1rDq8P2lBzO"
    />
    <SpotifyListItem
      songArtcover={top10Artist_12months_10}
      name="ZUTOMAYO"
      artist=""
      link="artist/38WbKH6oKAZskBhqDFA8Uj"
    />
  </ul>

  <!-- ---------- Genres ---------- -->
  <!-- ----- 4 WEEKS ----- -->
  <!-- 
    1. Anime Rap 39
    2. Anime 27
    3. J-Pop 8
    4. J-Rap 8
    5. Japanese Indie 8 
  -->
  <ul id="top-genres-4-weeks" class="hidden flex flex-col gap-2 w-full px-2">
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">1. Anime Rap</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">2. Anime</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">3. J-Pop</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">4. J-Rap</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">
        5. Japanese Indie
      </p>
    </li>
  </ul>
  <!-- ----- 6 MONTHS ----- -->
  <!-- 1. Trap Metal 100
    2. Horrorcore 83.84
    3. Anime Rap 51.92
    4. Dark Ambient 44.23
    5. Anime 33.46
    6. Ambient 32.69
    7. Vocaloid 19.23
    8. Synthwave 17.30
    9. J-Pop 13.46
    10. J-Rap 13.46 
  -->
  <ul id="top-genres-6-months" class="hidden flex flex-col gap-2 w-full px-2">
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">1. Trap Metal</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">2. Horrorcore</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">3. Anime Rap</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">4. ark Ambient</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">5. Anime</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">6. Ambient</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">7. Vocaloid</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">8. Synthwave</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">9. J-Pop</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">10. J-Rap</p>
    </li>
  </ul>
  <!-- ----- 12 MONTHS ----- -->
  <!-- 
    1. J-Pop 100
    2. Anime 87.66
    3. Trap Metal 70.77
    4. J-Rock 50.30
    5. Japanese Indie 43.16
    6. Lo-Fi 32.17
    7. Horrorcore 31.36
    8. Lo-Fi Beats 30.02
    9. Vocaloid 25.73
    10. Anime Rap 24.12 
  -->
  <ul id="top-genres-12-months" class="hidden flex flex-col gap-2 w-full px-2">
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">1. J-Pop</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">2. Anime</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">3. Trap Metal</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">4. J-Rock</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">
        5. Japanese Indie
      </p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">6. Lo-Fi</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">7. Horrorcore</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">8. Lo-Fi Beats</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">9. Vocaloid</p>
    </li>
    <li
      class="h-12 bg-neutral-800 flex justify-between items-center overflow-hidden pr-2"
    >
      <p class="font-semibold text-lg text-neutral-300 px-4">10. Anime Rap</p>
    </li>
  </ul>
</DashboardCard>

<script>
  const timePeriod4weeks = document.getElementById("4-weeks")!;
  const timePeriod6Months = document.getElementById("6-months")!;
  const timePeriod12Months = document.getElementById("12-months")!;

  const topTracksBtn = document.getElementById("top-tracks")!;
  const topArtistsBtn = document.getElementById("top-artists")!;
  const topGenresBtn = document.getElementById("top-genres")!;

  const topTracks4Weeks = document.getElementById("top-tracks-4-weeks")!;
  const topTracks6Months = document.getElementById("top-tracks-6-months")!;
  const topTracks12Months = document.getElementById("top-tracks-12-months")!;

  const topArtists4Weeks = document.getElementById("top-artists-4-weeks")!;
  const topArtists6Months = document.getElementById("top-artists-6-months")!;
  const topArtists12Months = document.getElementById("top-artists-12-months")!;

  const topGenres4Weeks = document.getElementById("top-genres-4-weeks")!;
  const topGenres6Months = document.getElementById("top-genres-6-months")!;
  const topGenres12Months = document.getElementById("top-genres-12-months")!;

  const highlighted =
    "border border-neutral-400 text-neutral-950 px-2 py-0.5 rounded-full text-[10px] cursor-default bg-neutral-400";
  const normal =
    "border border-neutral-600 px-2 py-0.5 rounded-full text-[10px] text-neutral-400 cursor-pointer";

  const tapOpened = document.getElementById("spotify-nav")!;

  // ----- 4 Weeks -----
  timePeriod4weeks?.addEventListener("click", () => {
    console.log(tapOpened.dataset.tapOpened);
    // Top Tracks
    if (tapOpened.dataset.tapOpened === "top-tracks") {
      topTracks4Weeks?.classList.remove("hidden");
      topTracks6Months?.classList.add("hidden");
      topTracks12Months?.classList.add("hidden");
    }

    // Top Artists
    if (tapOpened.dataset.tapOpened === "top-artists") {
      topArtists4Weeks?.classList.remove("hidden");
      topArtists6Months?.classList.add("hidden");
      topArtists12Months?.classList.add("hidden");
    }

    // Top Genres
    if (tapOpened.dataset.tapOpened === "top-genres") {
      topGenres4Weeks?.classList.remove("hidden");
      topGenres6Months?.classList.add("hidden");
      topGenres12Months?.classList.add("hidden");
    }

    timePeriod4weeks.className = highlighted;
    timePeriod6Months.className = normal;
    timePeriod12Months.className = normal;
  });

  // ----- 6 Months -----
  timePeriod6Months?.addEventListener("click", () => {
    console.log(tapOpened.dataset.tapOpened);
    // Top Tracks
    if (tapOpened.dataset.tapOpened === "top-tracks") {
      topTracks4Weeks?.classList.add("hidden");
      topTracks6Months?.classList.remove("hidden");
      topTracks12Months?.classList.add("hidden");
    }
    // Top Artists
    if (tapOpened.dataset.tapOpened === "top-artists") {
      topArtists4Weeks?.classList.add("hidden");
      topArtists6Months?.classList.remove("hidden");
      topArtists12Months?.classList.add("hidden");
    }

    // Top Genres
    if (tapOpened.dataset.tapOpened === "top-genres") {
      topGenres4Weeks?.classList.add("hidden");
      topGenres6Months?.classList.remove("hidden");
      topGenres12Months?.classList.add("hidden");
    }

    timePeriod4weeks.className = normal;
    timePeriod6Months.className = highlighted;
    timePeriod12Months.className = normal;
  });

  // ----- 12 Months -----
  timePeriod12Months?.addEventListener("click", () => {
    console.log(tapOpened.dataset.tapOpened);
    // Top Tracks
    if (tapOpened.dataset.tapOpened === "top-tracks") {
      topTracks4Weeks?.classList.add("hidden");
      topTracks6Months?.classList.add("hidden");
      topTracks12Months?.classList.remove("hidden");
    }
    // Top Artists
    if (tapOpened.dataset.tapOpened === "top-artists") {
      topArtists4Weeks?.classList.add("hidden");
      topArtists6Months?.classList.add("hidden");
      topArtists12Months?.classList.remove("hidden");
    }

    // Top Genres
    if (tapOpened.dataset.tapOpened === "top-genres") {
      topGenres4Weeks?.classList.add("hidden");
      topGenres6Months?.classList.add("hidden");
      topGenres12Months?.classList.remove("hidden");
    }

    timePeriod4weeks.className = normal;
    timePeriod6Months.className = normal;
    timePeriod12Months.className = highlighted;
  });

  // ----- Top Tracks Nav Btn -----
  topTracksBtn?.addEventListener("click", () => {
    if (tapOpened.dataset.tapOpened !== "top-tracks") {
      tapOpened.dataset.tapOpened = "top-tracks";

      topArtists4Weeks?.classList.add("hidden");
      topArtists6Months?.classList.add("hidden");
      topArtists12Months?.classList.add("hidden");

      topGenres4Weeks?.classList.add("hidden");
      topGenres6Months?.classList.add("hidden");
      topGenres12Months?.classList.add("hidden");

      topTracks4Weeks?.classList.remove("hidden");
      topTracks6Months?.classList.add("hidden");
      topTracks12Months?.classList.add("hidden");

      timePeriod4weeks.className = highlighted;
      timePeriod6Months.className = normal;
      timePeriod12Months.className = normal;

      topTracksBtn.className = highlighted;
      topArtistsBtn.className = normal;
      topGenresBtn.className = normal;
    }
  });

  // ----- Top Artists Nav Btn -----
  topArtistsBtn?.addEventListener("click", () => {
    if (tapOpened.dataset.tapOpened !== "top-artists") {
      tapOpened.dataset.tapOpened = "top-artists";

      topTracks4Weeks?.classList.add("hidden");
      topTracks6Months?.classList.add("hidden");
      topTracks12Months?.classList.add("hidden");

      topGenres4Weeks?.classList.add("hidden");
      topGenres6Months?.classList.add("hidden");
      topGenres12Months?.classList.add("hidden");

      topArtists4Weeks?.classList.remove("hidden");
      topArtists6Months?.classList.add("hidden");
      topArtists12Months?.classList.add("hidden");

      timePeriod4weeks.className = highlighted;
      timePeriod6Months.className = normal;
      timePeriod12Months.className = normal;

      topTracksBtn.className = normal;
      topArtistsBtn.className = highlighted;
      topGenresBtn.className = normal;
    }
  });

  // ----- Top Genres Nav Btn -----
  topGenresBtn?.addEventListener("click", () => {
    if (tapOpened?.dataset.tapOpened !== "top-genres") {
      tapOpened.dataset.tapOpened = "top-genres";

      topTracks4Weeks?.classList.add("hidden");
      topTracks6Months?.classList.add("hidden");
      topTracks12Months?.classList.add("hidden");

      topArtists4Weeks?.classList.add("hidden");
      topArtists6Months?.classList.add("hidden");
      topArtists12Months?.classList.add("hidden");

      topGenres4Weeks?.classList.remove("hidden");
      topGenres6Months?.classList.add("hidden");
      topGenres12Months?.classList.add("hidden");

      timePeriod4weeks.className = highlighted;
      timePeriod6Months.className = normal;
      timePeriod12Months.className = normal;

      topTracksBtn.className = normal;
      topArtistsBtn.className = normal;
      topGenresBtn.className = highlighted;
    }
  });
</script>
