---
export interface Props {
  id: string;
  title: string;
}

const { id, title } = Astro.props;

const placeholderImgSrc = `https://i.ytimg.com/vi/${id}/maxresdefault.jpg`;
---

<div class="youtube-embed" data-videoid={id} title={`Play video: ${title}`}>
  <img
    src={placeholderImgSrc}
    alt={title}
    class="youtube-thumbnail"
    loading="lazy"
  />
  <svg
    height="100%"
    version="1.1"
    viewBox="0 0 68 48"
    width="100%"
    class="youtube-play-icon"
  >
    <path
      d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
      fill="#f00"></path>
    <path d="M 45,24 27,14 27,34" fill="#fff"></path>
  </svg>
</div>

<script></script>

<style>
  /* Styles are unchanged */
  .youtube-embed {
    width: 100%;
    height: 100%;
    margin-inline: auto;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    overflow: hidden;
    border-radius: 12px;
    /* background-color: blueviolet; */
  }

  .youtube-embed:hover .youtube-play-icon {
    transform: scale(1.5) translate(-35%, -100%);
    transition: transform 0.5s ease-in-out;
  }

  .youtube-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 0;
  }

  .youtube-play-icon {
    position: absolute;
    width: 68px;
    height: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  }
</style>
